<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_PATH" value="/app/logs" />

  <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{traceId:-System}] [%thread] %logger{36} - %msg%n" />

  <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%X{traceId:-System}] %cyan(%logger{36}) - %msg%n" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/application.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>       <maxHistory>30</maxHistory>           <totalSizeCap>1GB</totalSizeCap>      </rollingPolicy>
  </appender>

  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.hibernate.SQL" level="ERROR" />
  </springProfile>

</configuration>